body {
  background-color: #001533;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #001533;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}

.member {
  display: flex;
  width: 300px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  background: rgb(56, 55, 55);
  border-radius: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(41, 106, 228, 0.37);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
}

.member-text p{
  color: #e7e4e4;
}

.member-text img{
  width: 25px;
  height: auto;
}


img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2 {
  margin: 10px 0;
  color: #fff;
}

a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Estilo para o footer */
footer {
  padding: 10px;
  color: #555;
  background: rgb(56, 55, 55);
  border-radius: 10px 10px 0px 0px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
}

/* Estilo para as colunas dentro do footer */
footer .col-sm-6 {
  margin-bottom: 10px;
  padding: 10px;
}

/* Estilo para os títulos nas colunas */
footer h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 5px;
}

/* Estilo para os parágrafos nas colunas */
footer p {
  font-size: 14px;
  line-height: 1.5;
  word-wrap: break-word;
  color: #fff;
}

/* Estilo para a barra inferior */
footer .bottom-bar {
  color: #fff;
  padding: 10px;
  background: #29292b;
  border-radius: 10px;
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
  -moz-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, alpha);
}

/* Estilo para o texto na barra inferior */
footer .bottom-bar p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}


 /* Estilos para dispositivos móveis */
 @media (max-width: 600px) {
  /* Estilos para o cabeçalho */
  #header-text {
    font-size: 24px;
  }

  /* Estilos para os membros */
  .member {
    width: 100%;
  }

  .member img {
    max-width: 100%;
  }

  .member-text {
    text-align: center;
  }

  /* Estilos para o rodapé */
  .col-sm-6 {
    width: 100%;
    margin-bottom: 20px;
  }
}